<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="amaging.schedu.db.ASOracleMapper">
	<select id="getTInfo" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.UserInfo">
      SELECT TC_CODE AS USERID, TC_NAME AS USERNAME, TC_EMAIL AS EMAIL FROM TC WHERE TC_EMAIL=#{email} 
   </select>
   <select id="getSchoolList" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.AcList">
		select AC.ac_name as acName, tc.tc_code as tCode ,ac.ac_code as acCode 
		from TA INNER JOIN TC ON ta.ta_tccode = TC.TC_CODE 
		INNER JOIN AC ON ta.ta_accode = ac.ac_code 
		where TC.TC_code = #{userId}
   </select>
   <select id="getClassList" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.ClassBean">
   		SELECT sb.sb_ACODE AS crCode, cl.cl_name AS clName , sb.sb_clcode as clCode 
		FROM SB INNER JOIN CL ON SB.sb_clcode = CL.CL_CODE and 
								sb.sb_clcrcode = cl.cl_crcode 
		WHERE SB.sb_tccode=#{userId} AND cl.cl_craccode IN(SELECT AC_CODE FROM AC WHERE AC_NAME=#{acName})
   </select>
   <select id="checkPwd" parameterType ="amaging.schedu.bean.AcList" resultType="int">
      SELECT COUNT(*) FROM TA WHERE TA.TA_ACCODE IN (select ta.ta_accode 
        from ta inner join ac on ta.ta_accode = ac.ac_code 
        where ta.ta_password =#{password} and ta.ta_tccode =#{tCode} and ac.ac_name =#{acName}) AND TA.TA_TCCODE = #{tCode} AND TA.TA_PASSWORD = #{password}
   </select>
   <insert id="checkSL" parameterType="amaging.schedu.bean.AcList">
   		INSERT INTO TAH(TAH_TCACCODE, TAH_TCCODE, TAH_TIME, TAH_COCODE) VALUES((select ta.ta_accode 
        from ta inner join ac on ta.ta_accode = ac.ac_code 
        where ta.ta_password =#{password} and ta.ta_tccode =#{tCode} and ac.ac_name =#{acName}),#{tCode},DEFAULT,15)
   </insert>
   <select id="getStudentList" parameterType="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.ClassBean">
   		SELECT st.st_name as sName, st.st_code as studentId , SB.SB_ACODE as crCode 
		FROM BS INNER JOIN ST ON bs.bs_stcode = st.st_code 
      	INNER JOIN SB ON  bs.bs_clcraccode = sb.sb_clcraccode 
		WHERE sb.sb_tccode=#{teacherId} and sb.sb_clcode=#{clCode}
   </select>
   <insert id="insSA" parameterType="amaging.schedu.bean.AttendanceBean">
		INSERT INTO AT(AT_SBACODE, AT_STCODE, AT_DATE, AT_COCODE) 
		VALUES(#{subjectCode}, #{studentId}, DEFAULT, #{atStatus})
	</insert>
	<select id="getAForm" parameterType="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT co.co_code as atStatus, CO.CO_NAME AS atStatusName, ST.ST_NAME AS studentName, st.st_code as studentId, sb.sb_acode as subjectCode 
		FROM AT INNER JOIN CO ON AT.AT_COCODE = CO.CO_CODE 
        		INNER JOIN SB ON AT.AT_SBACODE = SB.SB_ACODE 
        		INNER JOIN ST ON AT.AT_STCODE = ST.ST_CODE 
		WHERE SUBSTR(AT.AT_DATE,1,8) = TO_DATE(#{weekDay}) AND SB.sb_tccode= #{teacherId} AND SB.sb_clcode = #{clCode}
   </select>
   <update id="upSA" parameterType="amaging.schedu.bean.AttendanceBean">
		UPDATE AT 
		SET AT_COCODE = #{atStatus} 
		WHERE AT_SBACODE = #{subjectCode} AND AT_STCODE= #{studentId} AND SUBSTR(AT_DATE,1,8) = TO_DATE(#{date})
	</update>
	<select id="getRcAForm" parameterType="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT CO.CO_NAME AS atStatusName, ST.ST_NAME AS studentName ,#{weekDay} as dayDate 
		FROM AT INNER JOIN CO ON AT.AT_COCODE = CO.CO_CODE 
        		INNER JOIN SB ON AT.AT_SBACODE = SB_ACODE 
        		INNER JOIN ST ON AT.AT_STCODE = ST.ST_CODE 
		WHERE SUBSTR(AT_DATE,1,8) =TO_DATE(#{weekDay}) AND sb.sb_tccode=#{teacherId}
   </select>
   <select id="checkOverlap" parameterType ="amaging.schedu.bean.AcList" resultType="int">
     	SELECT count(at.at_date) as CT 
		from at inner join SB on at.at_sbacode = sb.sb_acode 
		WHERE sb.sb_tccode =#{userId} and SUBSTR(at.at_date,1,8) = TO_DATE(to_char(SYSDATE,'YYYYMMDD')) AND 
		sb.sb_clcraccode IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})
   </select>
   <select id="sList" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT bs_stcode as studentId, (SELECT sb.sb_ascode FROM SB WHERE sb.sb_tccode=#{userId} AND SUBSTR(sb.sb_acode,6,10) IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName}))||
		bs.bs_clcraccode||
		(SELECT sb.sb_clcrcode FROM SB WHERE sb.sb_tccode=#{userId} AND SUBSTR(sb.sb_acode,6,10) IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName}))||
		(SELECT sb.sb_clcode FROM SB WHERE sb.sb_tccode=#{userId} AND SUBSTR(sb.sb_acode,6,10) IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName}))||
		#{userId} as subjectCode 
		FROM BS 
		WHERE bs_clcrcode IN(SELECT sb.sb_clcrcode FROM SB WHERE sb.sb_tccode=#{userId} AND 
		SUBSTR(sb.sb_acode,6,10) IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})) AND 
		bs_clcode IN(SELECT sb.sb_clcode FROM SB WHERE sb.sb_tccode=#{userId} AND SUBSTR(sb.sb_acode,6,10) IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})) AND 
		bs_clcraccode IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})
	</select>
	<insert id="insSAttendance" parameterType="amaging.schedu.bean.AttendanceBean">
		insert into at(at_sbacode,at_stcode,at_date,at_cocode) values(#{subjectCode}, #{studentId},default,23)
	</insert>
	 <select id="stAllList" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT st.st_name AS studentName, at.at_cocode AS atStatus , TO_CHAR(at.at_date,'HH24MI') AS dayDate 
		FROM AT INNER JOIN SB ON at.at_sbacode = sb.sb_acode
        		INNER JOIN ST ON at.at_stcode = st.st_code
		WHERE TO_CHAR(at.at_date,'YYYYMMDDHH24') IN(TO_CHAR(SYSDATE,'YYYYMMDD')||(select SUBSTR(sb_stime,1,2) from SB where sb_tccode = #{userId} AND sb.sb_clcraccode IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName}))) and 
		sb.sb_tccode= #{userId} and sb.sb_clcrcode IN(SELECT sb.sb_clcrcode FROM SB WHERE sb.sb_tccode=#{userId}) and 
		SB.SB_CLCODE IN(SELECT sb.sb_clcode FROM SB WHERE sb.sb_tccode=#{userId}) AND 
		sb.sb_clcraccode IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})
   </select>
   <update id="upSudentS" parameterType="amaging.schedu.bean.AcList">
		UPDATE AT 
		SET AT_COCODE = 21 
		WHERE AT_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{tCode}) AND TO_CHAR(AT_DATE,'HH24MI') = #{acCode}
	</update>
	<update id="upSudentL" parameterType="amaging.schedu.bean.AcList">
		UPDATE AT 
		SET AT_COCODE = 22 
		WHERE AT_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{tCode}) AND TO_CHAR(AT_DATE,'HH24MI') = #{acCode}
	</update>
	<select id="searchSI" parameterType="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.AttendanceBean">
		SELECT AT.AT_COCODE AS atStatus, ST.ST_NAME AS studentName, AC.AC_NAME AS dayDate, sb.sb_asname AS subjectCode 
		FROM AT INNER JOIN ST ON at.at_stcode = st.st_code 
        	INNER JOIN AC ON SUBSTR(at.at_sbacode,6,10) = ac.ac_code 
        	INNER JOIN CO ON at.at_cocode = co.co_code 
        	INNER JOIN SB ON at.at_sbacode = sb.sb_acode 
		WHERE AT_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{userId}) AND 
		TO_CHAR(at.at_date,'YYYYMMDDHH24') IN(#{weekDay})||(select SUBSTR(sb_stime,1,2) from SB where sb_tccode = #{teacherId} and 
		sb.sb_clcraccode IN(select ac_code from ac where ac_name =#{endDay}))
	</select>
	 <select id="checkSI" parameterType ="amaging.schedu.bean.Subject" resultType="int">
      	SELECT COUNT(*) 
		FROM AT 
		WHERE AT_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{userId})
   </select>
   <update id="upSI" parameterType="amaging.schedu.bean.Subject">
		UPDATE AT 
		SET AT_COCODE = #{smCode} 
		WHERE AT_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{userId}) AND 
		TO_CHAR(at.at_date,'YYYYMMDD') IN(#{weekDay}) AND SUBSTR(AT_SBACODE,26,5) = #{teacherId} AND 
		SUBSTR(AT_SBACODE,6,10) IN(select ac_code from ac where ac_name =#{endDay})
	</update>
	 <select id="getJustTime" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT SUBSTR(SB_STIME,1,2) AS dayDate FROM SB WHERE SB_TCCODE = #{userId} AND sb.sb_clcraccode IN(SELECT CL_CRACCODE FROM CL WHERE CL_NAME =#{acName})
   </select>
   <select id="forInsert" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.AttendanceBean">
   		SELECT TC_COCODE AS atStatus FROM TC WHERE TC_CODE = #{userId}
   </select>

   <select id="getWSList" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT ST.ST_CODE AS userId, ST.ST_NAME AS sName, ST.ST_EMAIL AS sEmail 
		FROM SA INNER JOIN ST ON SA.SA_STCODE = ST.ST_CODE 
		WHERE SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE = #{adCode}) AND SA_COCODE = 12
   </select>
   <update id="upPermission" parameterType="amaging.schedu.bean.Admin">
		UPDATE SA 
		SET SA_COCODE = 11 
		WHERE SA_STCODE =#{acCode} AND SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE = #{adCode})
	</update>
	<update id="upReject" parameterType="amaging.schedu.bean.Admin">
		UPDATE SA 
		SET SA_COCODE = 13 
		WHERE SA_STCODE =#{acCode} AND SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE = #{adCode})
	</update>
	 <select id="checkS" parameterType ="amaging.schedu.bean.Admin" resultType="int">
      	SELECT COUNT(*) FROM ST WHERE ST_NAME = #{acCode} AND 
      	ST_CODE IN(SELECT SA_STCODE FROM SA WHERE SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{adCode}) AND SA_COCODE =11)
   </select>
    <select id="getDSList" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT ST_EMAIL AS sEmail, ST_NAME AS sName FROM ST WHERE ST_NAME = #{acCode} AND 
   		ST_CODE IN(SELECT SA_STCODE FROM SA WHERE SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{adCode}) AND SA_COCODE =11)
   </select>
   <select id="getFailSList" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT COUNT(*) AS sEmail FROM ST WHERE ST_NAME = #{acCode} AND 
   		ST_CODE IN(SELECT SA_STCODE FROM SA WHERE SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{adCode}) AND SA_COCODE =11)
   </select>
    <update id="delS" parameterType="amaging.schedu.bean.Admin">
		UPDATE SA 
		SET SA_COCODE = 13 
		WHERE SA_STCODE IN(SELECT ST_CODE FROM ST WHERE ST_NAME = #{adCode} AND ST_EMAIL = #{tier}) AND 
		SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE = #{acCode})
	</update>
	 <update id="delST" parameterType="amaging.schedu.bean.Admin">
		UPDATE ST 
		SET ST_DATE = to_char(SYSDATE,'YYYYMM') 
		WHERE ST_NAME = #{adCode} AND ST_EMAIL =#{tier}
	</update>
	<select id="getGraph" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.Subject">
   		SELECT 
		(SELECT COUNT(*) 
		FROM ST INNER JOIN SA ON ST.ST_CODE = SA.SA_STCODE 
		WHERE SA.SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND ST_DATE='202201') AS smCode, 
		(SELECT COUNT(*) 
		FROM ST INNER JOIN SA ON ST.ST_CODE = SA.SA_STCODE 
		WHERE SA.SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND ST_DATE='202202') AS crCode, 
		(SELECT COUNT(*) 
		FROM ST INNER JOIN SA ON ST.ST_CODE = SA.SA_STCODE 
		WHERE SA.SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND ST_DATE='202203') AS crName, 
		(SELECT COUNT(*) 
		FROM ST INNER JOIN SA ON ST.ST_CODE = SA.SA_STCODE 
		WHERE SA.SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND ST_DATE='202204') AS acName 
		FROM DUAL
	</select>
	<select id="getPSN" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT COUNT(*) AS userId 
		FROM SA 
		WHERE SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND SA_COCODE=11
   </select>
   <select id="getPSNN" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT ST.ST_NAME AS sName, ST.ST_EMAIL AS sEmail 
		FROM ST INNER JOIN SA ON ST.ST_CODE = SA.SA_STCODE 
		WHERE SA.SA_ACCODE IN(SELECT AD_ACCODE FROM AD WHERE AD_CODE=#{acCode}) AND SA.SA_COCODE=11
   </select>
   <select id="getAG" parameterType="amaging.schedu.bean.Admin" resultType="amaging.schedu.bean.ChildCode">
   		SELECT 
		(SELECT COUNT(*) 
		FROM AT 
		WHERE SUBSTR(AT_SBACODE,26,5) =#{acCode} AND TO_CHAR(AT_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') AND AT_COCODE = 21 AND 
		SUBSTR(AT_SBACODE,6,10) IN(select ac_code from ac where ac_name =#{adCode})) AS userId, 
		(SELECT COUNT(*) 
		FROM AT 
		WHERE SUBSTR(AT_SBACODE,26,5) =#{acCode} AND TO_CHAR(AT_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') AND AT_COCODE = 22 AND 
		SUBSTR(AT_SBACODE,6,10) IN(select ac_code from ac where ac_name =#{adCode})) AS sName, 
		(SELECT COUNT(*) 
		FROM AT 
		WHERE SUBSTR(AT_SBACODE,26,5) =#{acCode} AND TO_CHAR(AT_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') AND AT_COCODE = 23 AND 
		SUBSTR(AT_SBACODE,6,10) IN(select ac_code from ac where ac_name =#{adCode})) AS sEmail 
		FROM DUAL
   </select>
	<select id="getPSAttendanceList" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.Subject">
		SELECT SB_ACODE AS SMCODE, TC_NAME AS TNAME,
			   AC_NAME AS ACNAME, CL_NAME AS CLNAME,
			   SB_ASNAME AS SUBJECTNAME, AT_COCODE AS ATTEND, AT_DATE AS STARTDAY
		FROM BS INNER JOIN SB ON BS.BS_CLCRACCODE=BS.BS_CLCRACCODE
							 AND BS.BS_CLCRCODE=SB.SB_CLCRCODE
							 AND BS.BS_CLCODE=SB.SB_CLCODE
				INNER JOIN AC ON BS.BS_CLCRACCODE=AC.AC_CODE
				INNER JOIN CL ON BS.BS_CLCRACCODE=CL.CL_CRACCODE
							 AND BS.BS_CLCRCODE=CL.CL_CRCODE
							 AND BS.BS_CLCODE=CL.CL_CODE
				INNER JOIN TC ON SB.SB_TCCODE=TC.TC_CODE
                LEFT OUTER JOIN AT ON AT.AT_SBACODE=SB.SB_ACODE
                                AND AT.AT_STCODE=BS.BS_STCODE
		WHERE BS.BS_STCODE=#{userId} AND AT_COCODE IS NOT NULL	
	</select>
	<select id="getSEDate" parameterType="amaging.schedu.bean.AttendanceBean" resultType="amaging.schedu.bean.Subject">
		SELECT CL_SDATE AS STARTDAY, CL_EDATE AS ENDDAY
		FROM CL INNER JOIN SB ON CL.CL_CRACCODE=SB.SB_CLCRACCODE 
                             AND CL.CL_CRCODE=SB.SB_CLCRCODE 
                             AND CL.CL_CODE=SB.SB_CLCODE
		WHERE SB_ACODE=#{subjectCode}
	</select>
	<select id="getAtlog" parameterType="amaging.schedu.bean.AttendanceBean" resultType="amaging.schedu.bean.AtLog">
		SELECT COUNT(AT_SBACODE) AS SBACODE, COUNT(AT_COCODE) AS COCODE, 23 AS COCODENUM
      	FROM AT 
     	WHERE AT_STCODE=#{studentId} AND AT_SBACODE=#{subjectCode} AND AT_COCODE=23   
			UNION      
 		SELECT COUNT(AT_SBACODE) AS SBACODE, COUNT(AT_COCODE) AS COCODE, 22 AS COCODENUM
      	FROM AT
      	WHERE AT_STCODE=#{studentId} AND AT_SBACODE=#{subjectCode} AND AT_COCODE=22
 			UNION      
 		SELECT COUNT(AT_SBACODE) AS SBACODE, COUNT(AT_COCODE) AS COCODE, 21 AS COCODENUM
      	FROM AT
      	WHERE AT_STCODE=#{studentId} AND AT_SBACODE=#{subjectCode} AND AT_COCODE=21
	</select>   
</mapper>