<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="amaging.schedu.db.GFOracleMapper">


	<!-- *!*!*!*!*!*!*!*!*!Grade!*!*!*!*!*!*!*!*!* -->
	
	
	<select id="getTeacherAcademy" parameterType ="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.ACPlan">
		SELECT AC.AC_CODE AS ACCODE, AC.AC_NAME AS ACNAME FROM TA INNER JOIN TC ON TC.TC_CODE = TA.TA_TCCODE 
			 								INNER JOIN AC ON TA.TA_ACCODE = AC.AC_CODE 
		WHERE TC.TC_CODE = #{teacherId}
	</select>
	
	<select id="checkPwd" parameterType ="amaging.schedu.bean.AcList" resultType="int">
		SELECT COUNT(*) FROM TA WHERE TA.TA_ACCODE = #{acCode} AND TA.TA_TCCODE = #{teacherId} AND TA.TA_PASSWORD = #{password}
	</select>
	
	<select id="getTeacherClass" parameterType ="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.Subject">
		SELECT SB.SB_CLCODE AS CLCODE,CL.CL_NAME AS CLNAME 
		FROM SB INNER JOIN CL ON SB.SB_CLCODE = CL.CL_CODE 
		WHERE CL.CL_CRACCODE = #{acCode} AND SB.SB_TCCODE = #{teacherId}
	</select>
	
	<select id="getTGrade" parameterType ="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.GradeBean">
		SELECT GR.GR_SBACODE AS SBACODE, SB.SB_ASCODE AS SUBJECTCODE, SB.SB_ASNAME AS SUBJECTNAME, GR.GR_STCODE AS STUDENTID, ST.ST_NAME AS SNAME, GR.GR_SCORE AS SCORE, GR.GR_RANK AS RANK, (SELECT COUNT(*) FROM BS WHERE BS_CLCRACCODE = #{acCode} AND BS.BS_CLCODE = #{clCode}) AS HEADCOUNT 
		FROM GR INNER JOIN SB ON GR.GR_SBACODE = SB.SB_ACODE 
       			INNER JOIN ST ON ST.ST_CODE = GR.GR_STCODE 
        		INNER JOIN BS ON SB.SB_CLCODE = BS.BS_CLCODE 
		WHERE SB.SB_TCCODE = #{teacherId} AND SB.SB_CLCRACCODE = #{acCode} AND SB.SB_CLCODE = #{clCode} 
		GROUP BY GR.GR_SBACODE, SB.SB_ASCODE, SB.SB_ASNAME, GR.GR_STCODE, ST.ST_NAME, 
       			 GR.GR_SCORE, GR.GR_RANK
	</select>
	
	<update id="modGrade" parameterType = "amaging.schedu.bean.GradeBean">
		UPDATE GR SET GR.GR_SCORE = #{score}, GR.GR_RANK = #{rank} WHERE GR.GR_SBACODE = #{sBACode} and GR.GR_STCODE = #{studentId}
	</update>
	
	<select id="getStudentList" parameterType ="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.GradeBean">
		SELECT SB.SB_ACODE AS SBACODE, SB.SB_ASNAME AS SUBJECTNAME,BS.BS_STCODE AS STUDENTID , ST.ST_NAME AS SNAME FROM BS 
		INNER JOIN ST ON BS.BS_STCODE = ST.ST_CODE 
        INNER JOIN SB ON BS.BS_CLCRACCODE = SB.SB_CLCRACCODE 
                     AND BS.BS_CLCRCODE = SB.SB_CLCRCODE 
                     AND BS.BS_CLCODE = SB.SB_CLCODE 
		WHERE BS_CLCRACCODE = #{acCode} AND BS_CLCODE = #{clCode} AND SB.SB_TCCODE = #{teacherId}
	</select>
	
	<select id="isGrade" parameterType = "amaging.schedu.bean.GradeBean" resultType ="int">
		SELECT COUNT(*) FROM GR WHERE SUBSTR(GR_SBACODE,26,5) = #{teacherId} 
                          AND SUBSTR(GR.GR_SBACODE,6,10) = #{acCode} 
                          AND SUBSTR(GR.GR_SBACODE,21,5) = #{clCode}
	</select>
	
	<insert id="regGrade" parameterType = "amaging.schedu.bean.GradeBean">
		INSERT INTO GR(GR_SBACODE,GR_STCODE,GR_SCORE,GR_RANK) 
		VALUES(#{sBACode},#{studentId},#{score},#{rank})
	</insert>
	
	<select id="getGrade" parameterType ="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.GradeBean">
		SELECT AC.AC_NAME AS ACNAME, CL.CL_NAME AS CLNAME, SB.SB_ASNAME AS SUBJECTNAME, GR.GR_SCORE AS SCORE, GR.GR_RANK AS RANK , 
		(SELECT COUNT(*) FROM BS WHERE BS.BS_CLCRACCODE =(SELECT BS.BS_CLCRACCODE FROM BS WHERE BS.BS_STCODE = #{userId}) 
                                    AND BS.BS_CLCRCODE = (SELECT BS.BS_CLCRCODE FROM BS WHERE BS.BS_STCODE = #{userId}) 
                                      AND BS.BS_CLCODE = (SELECT BS.BS_CLCODE FROM BS WHERE BS.BS_STCODE = #{userId})) AS HEADCOUNT 
		FROM GR INNER JOIN SB ON (SELECT GR.GR_SBACODE FROM GR WHERE GR.GR_STCODE = #{userId}) = SB.SB_ACODE 
       			INNER JOIN AC ON (SELECT SUBSTR(GR.GR_SBACODE,6,10) FROM GR WHERE GR.GR_STCODE = #{userId}) = AC.AC_CODE 
        		INNER JOIN CL ON (SELECT SUBSTR(GR.GR_SBACODE,21,5) FROM GR WHERE GR.GR_STCODE = #{userId}) = CL.CL_CODE 
                     		 AND (SELECT SUBSTR(GR.GR_SBACODE,6,10) FROM GR WHERE GR.GR_STCODE = #{userId}) = CL.CL_CRACCODE 
		WHERE GR.GR_STCODE = #{userId} 
		GROUP BY CL.CL_NAME, AC.AC_NAME, SB.SB_ASNAME, GR.GR_SCORE, GR.GR_RANK
	</select>
	
	<select id="getMyChilds" parameterType ="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.GradeBean">
		SELECT SP.SP_STCODE AS STUDENTID ,ST.ST_NAME AS SNAME FROM SP INNER JOIN ST ON SP.SP_STCODE = ST.ST_CODE 
		WHERE SP.SP_PRCODE = #{userId}
	</select>
	
	
	<!-- *!*!*!*!*!*!*!*!*!Fee!*!*!*!*!*!*!*!*!* -->
	
	
	<select id="getMonthFee" parameterType ="amaging.schedu.bean.FeeBean" resultType="amaging.schedu.bean.FeeBean">
		SELECT FE.FE_STCODE AS STUDENTID, ST.ST_NAME AS STUDENTNAME, FE.FE_CLCRCODE AS CLCRCODE, FE.FE_CLCODE AS CLCODE, CL.CL_NAME AS CLNAME, FE.FE_UPMONTH AS UPMONTH,PR.PR_NAME AS PANAME, PR.PR_EMAIL AS PAEMAIL, FE.FE_PRICE AS MONEY, FE.FE_COCODE AS STATUS 
		FROM FE INNER JOIN ST ON FE.FE_STCODE = ST.ST_CODE 
       		 	INNER JOIN CL ON FE.FE_CLCODE = CL.CL_CODE AND FE.FE_CLCRCODE = CL.CL_CRCODE 
        		INNER JOIN SP ON FE.FE_STCODE = SP.SP_STCODE 
        		INNER JOIN PR ON SP.SP_PRCODE = PR.PR_CODE 
		WHERE FE.FE_CLCRACCODE = #{acCode} AND SUBSTR(FE.FE_UPMONTH,0,6) = #{upMonth}
	</select>
	
	<select id="searchName" parameterType ="amaging.schedu.bean.FeeBean" resultType="amaging.schedu.bean.FeeBean">
		SELECT FE.FE_STCODE AS STUDENTID, ST.ST_NAME AS STUDENTNAME, FE.FE_CLCRCODE AS CLCRCODE, FE.FE_CLCODE AS CLCODE, CL.CL_NAME AS CLNAME, FE.FE_UPMONTH AS UPMONTH,PR.PR_NAME AS PANAME, PR.PR_EMAIL AS PAEMAIL, FE.FE_PRICE AS MONEY, FE.FE_COCODE AS STATUS 
		FROM FE INNER JOIN ST ON FE.FE_STCODE = ST.ST_CODE 
       		 	INNER JOIN CL ON FE.FE_CLCODE = CL.CL_CODE AND FE.FE_CLCRCODE = CL.CL_CRCODE 
        		INNER JOIN SP ON FE.FE_STCODE = SP.SP_STCODE 
        		INNER JOIN PR ON SP.SP_PRCODE = PR.PR_CODE 
		WHERE FE.FE_CLCRACCODE = #{acCode} AND SUBSTR(FE.FE_UPMONTH,0,6) = #{upMonth}  AND ST.ST_NAME = #{studentName} 
	</select>
	
	<update id="updFeeList" parameterType ="amaging.schedu.bean.FeeBean">
		UPDATE FE SET FE.FE_FEPMONTH = SYSDATE,FE.FE_COCODE = #{status} 
		WHERE FE.FE_CLCRACCODE = #{acCode}  AND FE_CLCRCODE = #{clCrCode} AND FE_CLCODE = #{clCode} 
		AND FE_STCODE = #{studentId} AND FE_UPMONTH = #{upMonth} 
	</update>
	
	<select id="feeStudentList" parameterType ="amaging.schedu.bean.FeeBean" resultType="amaging.schedu.bean.FeeBean">
		SELECT BS.BS_CLCRCODE AS CLCRCODE, BS.BS_CLCODE AS CLCODE, CL.CL_NAME AS CLNAME, BS.BS_STCODE AS STUDENTID, ST.ST_NAME AS STUDENTNAME,PR.PR_NAME AS PANAME, PR.PR_EMAIL AS PAEMAIL,CL.CL_FEE AS MONEY 
		FROM BS INNER JOIN CL ON BS.BS_CLCRACCODE = CL.CL_CRACCODE 
                    		 AND BS.BS_CLCRCODE = CL.CL_CRCODE 
                     		 AND BS.BS_CLCODE = CL.CL_CODE 
       			INNER JOIN ST ON BS.BS_STCODE = ST.ST_CODE 
        		INNER JOIN SP ON ST.ST_CODE =  SP.SP_STCODE 
        		INNER JOIN PR ON SP.SP_PRCODE = PR.PR_CODE 
		WHERE BS.BS_CLCRACCODE = #{acCode}
	</select>
	
	<select id="getFeeCheck" parameterType ="amaging.schedu.bean.FeeBean" resultType="int">
		SELECT COUNT(*) FROM FE WHERE FE.FE_CLCRACCODE = ${acCode} AND SUBSTR(FE.FE_UPMONTH,0,6) = #{upMonth}
	</select>
	
	<insert id="insFeeList" parameterType ="amaging.schedu.bean.FeeBean">
		INSERT INTO FE(FE.FE_CLCRACCODE,FE.FE_CLCRCODE,FE.FE_CLCODE,FE.FE_STCODE,FE.FE_UPMONTH,FE.FE_FEPMONTH,FE.FE_COCODE,FE.FE_PRICE) 
		VALUES(#{acCode},#{clCrCode},#{clCode},#{studentId},#{upMonth},SYSDATE,#{status},#{money})
	</insert>
	
	<select id="getMyFeeList" parameterType ="amaging.schedu.bean.FeeBean" resultType="amaging.schedu.bean.FeeBean">
		SELECT AC.AC_NAME AS ACNAME, CL.CL_NAME AS CLNAME, FE.FE_PRICE AS MONEY, FE.FE_COCODE AS STATUS 
		FROM FE INNER JOIN AC ON FE.FE_CLCRACCODE = AC.AC_CODE 
       		 	INNER JOIN CL ON FE.FE_CLCRACCODE = CL.CL_CRACCODE 
                     		 AND FE.FE_CLCRCODE = CL.CL_CRCODE 
                     		 AND FE.FE_CLCODE = CL.CL_CODE 
		WHERE FE.FE_STCODE = #{studentId} AND SUBSTR(FE.FE_UPMONTH,0,6) = #{upMonth}
	</select>
	
</mapper>