<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="amaging.schedu.db.QMLOracleMapper">
	<!-- 로그인 -->
	<select id="isTeacherEmail" parameterType="amaging.schedu.bean.Login" resultType="int" >
      select count(*) from tc where tc_email=#{email} and tc_password=#{password}
    </select>
    <select id="isStudentEmail" parameterType="amaging.schedu.bean.Login" resultType="int" >
      select count(*) from ST where ST_email=#{email} and ST_password=#{password}
    </select>
    <select id="isParentsEmail" parameterType="amaging.schedu.bean.Login" resultType="int" >
      select count(*) from PR where PR_email=#{email} and PR_password=#{password}
    </select>
    <select id="isAdminCode" parameterType="amaging.schedu.bean.Login" resultType="int" >
      select count(*) from AD where AD_CODE=#{adCode} and AD_password=#{password}
    </select>
    
    <!-- 접속기록 -->
    <insert id="setAccessHistory" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO AH(AH_USERID, AH_TIME, AH_USERCODE, AH_COCODE) 
		VALUES(#{userId}, DEFAULT, #{userCode},15)
	</insert>
    <insert id="setAdminAccessHistory" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO AAH(AAH_ADACCODE, AAH_ADCODE, AAH_TIME, AAH_COCODE) 
		VALUES(#{acCode},#{userId}, DEFAULT,15)
	</insert>
    <insert id="setAccessOutHistory" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO AH(AH_USERID, AH_TIME, AH_USERCODE, AH_COCODE) 
		VALUES(#{userId}, DEFAULT, #{userCode},16)
	</insert>
    <insert id="setAdminAccessOutHistory" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO AAH(AAH_ADACCODE, AAH_ADCODE, AAH_TIME, AAH_COCODE) 
		VALUES(#{acCode},#{userId}, DEFAULT,16)
	</insert>
     
        
    <!-- 세션정보 -->
    <select id="getTeacherInfo" parameterType="amaging.schedu.bean.Login" resultType="amaging.schedu.bean.UserInfo">
		SELECT USERID, USERNAME, USERCODE FROM SCHEDUDBA.TEACHERACCESSINFO WHERE EMAIL=#{email} AND
		ACCESSTIME=(SELECT MAX(ACCESSTIME)FROM SCHEDUDBA.TEACHERACCESSINFO WHERE EMAIL=#{email})  
	</select>
	<select id="getParentInfo" parameterType="amaging.schedu.bean.Login" resultType="amaging.schedu.bean.UserInfo">
		SELECT USERID, USERNAME, 1 AS USERCODE, STNAME FROM SCHEDUDBA.PARENTSACCESSINFO WHERE EMAIL=#{email}AND 
		STNAME=(SELECT MAX(STNAME)FROM SCHEDUDBA.PARENTSACCESSINFO WHERE EMAIL=#{email})
	</select>
	<select id="getStudentInfo" parameterType="amaging.schedu.bean.Login" resultType="amaging.schedu.bean.UserInfo">
		SELECT ST_CODE AS USERID, ST_NAME AS USERNAME, 2 AS USERCODE FROM ST WHERE ST_EMAIL=#{email}
	</select>
	<select id="getAdminInfo" parameterType="amaging.schedu.bean.Login" resultType="amaging.schedu.bean.UserInfo">
		SELECT ACCODE, ADCODE AS USERID, USERNAME, 4 AS USERCODE, TIER FROM SCHEDUDBA.ADMINISTERACCESSINFO WHERE USERID=#{adCode} AND
		ACCESSTIME=(SELECT MAX(ACCESSTIME)FROM SCHEDUDBA.ADMINISTERACCESSINFO WHERE USERID=#{adCode})
	</select>
	
	<!-- 회원등록 -->
	<insert id="setParentsData" parameterType="amaging.schedu.bean.RegMember">
		INSERT INTO PR(PR_CODE, PR_NAME, PR_EMAIL, PR_PASSWORD) 
		VALUES('P'||(SELECT SUBSTR(MAX(PR_CODE),2,5)+1 FROM PR),#{userName},#{email},#{password})
	</insert>
	<insert id="setStudentData" parameterType="amaging.schedu.bean.RegMember">
		INSERT INTO ST(ST_CODE, ST_NAME, ST_EMAIL, ST_PASSWORD) 
		VALUES('S'||(SELECT SUBSTR(MAX(ST_CODE),2,5)+1 FROM ST),#{userName},#{email},#{password})
	</insert>
	<insert id="setTeacherData" parameterType="amaging.schedu.bean.RegMember">
		INSERT INTO TC(TC_CODE, TC_EMAIL,TC_NAME,TC_PASSWORD)
		VALUES('T'||(SELECT SUBSTR(MAX(TC_CODE),2,5)+1 FROM TC),#{userName},#{email},#{password})
	</insert>
	
	<!-- 자녀리스트 -->
	<select id="displayChildList" parameterType="amaging.schedu.bean.ChildCode" resultType="amaging.schedu.bean.ChildCode">
		SELECT 	STCODE AS USERID, SNAME, SEMAIL FROM SCHEDUDBA.CHILDLIST WHERE PRCODE = #{userId}
	</select>
	
	<!-- 학사일정 -->
	<select id="getAcList" parameterType="amaging.schedu.bean.ACPlan" resultType="amaging.schedu.bean.ACPlan">
		SELECT SA_ACCODE AS ACCODE, #{sDate} AS SDATE FROM SA WHERE SA_STCODE = #{userId}
	</select>
	<select id="getPlanList" parameterType="amaging.schedu.bean.ACPlan" resultType="amaging.schedu.bean.ACPlan">
		SELECT * FROM SCHEDUDBA.ACPLANLIST   
		 WHERE SUBSTR(SDATE,1,6) IN
		 <foreach collection="list" item="acplan" open="(" close=")" separator=",">
		 	#{acplan.sDate}
		 </foreach>
		  AND ACCODE IN
		 <foreach collection="list" item="acplan" open="(" close=")" separator=",">
		 	#{acplan.acCode}
		 </foreach>
	</select> 
	<select id="getTeacherAcList" parameterType="amaging.schedu.bean.ACPlan" resultType="amaging.schedu.bean.ACPlan">
		SELECT TA_ACCODE AS ACCODE, #{sDate} AS SDATE FROM TA WHERE TA_TCCODE = #{userId}
	</select>	
	<select id="getStudentAcList" parameterType="amaging.schedu.bean.ACPlan" resultType="amaging.schedu.bean.ACPlan">
		SELECT SA_ACCODE AS ACCODE, #{sDate} AS SDATE FROM SA WHERE SA_STCODE = #{userId}
	</select>
	<select id="getAPlanList" parameterType="amaging.schedu.bean.ACPlan" resultType="amaging.schedu.bean.ACPlan">
		SELECT * FROM SCHEDUDBA.ACPLANLIST WHERE SUBSTR(SDATE,1,6) = #{sDate} AND ACCODE = #{acCode} 
	</select> 
	<insert id="setPlanList" parameterType="amaging.schedu.bean.ACPlan">
		INSERT INTO AP(AP_ACCODE, AP_SDATE, AP_EDATE, AP_CONTENTS) 
		VALUES(#{acCode}, #{sDate}, #{eDate}, #{contents})
	</insert>
	<update id="updPlanList" parameterType="amaging.schedu.bean.ACPlan">
		UPDATE AP SET AP_CONTENTS = #{contents} WHERE AP_ACCODE = #{acCode} AND AP_SDATE = #{sDate} AND AP_EDATE = #{eDate}
	</update>
	<delete id="delPlanList" parameterType="amaging.schedu.bean.ACPlan">
		DELETE FROM AP WHERE AP_ACCODE = #{acCode} AND AP_SDATE = #{sDate} AND AP_EDATE = #{eDate}
	</delete>
	
	<!-- 상담 qna -->
	<select id="getTContents" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.Counsel">
		SELECT * FROM SCHEDUDBA.TEACHERQNA WHERE RPCODE = #{userId} AND ACCODE = #{acCode}
	</select> 
</mapper>