<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="amaging.schedu.db.TMOracleMapper">

		<!-- TimeTable -->
		
	<select id="getCourseList" parameterType="amaging.schedu.bean.ClassBean" resultType="amaging.schedu.bean.ClassBean">
		SELECT CR_NAME AS CRNAME ,CR_ACCODE AS ACCODE,CR_CODE AS CRCODE
		FROM CR WHERE CR_ACCODE=#{acCode}
	</select>
	
	<insert id="insertClass" parameterType="amaging.schedu.bean.ClassBean" >
		INSERT INTO "CL"(CL_CRACCODE,CL_CRCODE,CL_CODE,CL_NAME,CL_FEE,CL_SDATE,CL_EDATE)
		VALUES(#{acCode},#{crCode},'C'||(SELECT SUBSTR(MAX(CL_CODE),2)+1 FROM "CL" WHERE CL_CRACCODE=#{acCode}),
		#{clName},#{clFee},#{clSdate},#{clEdate})
	</insert>

	<select id="getAClassList" parameterType="amaging.schedu.bean.ClassBean" resultType="amaging.schedu.bean.ClassBean">
		SELECT CR_ACCODE AS ACCODE,
    	   CR_CODE AS CRCODE,
    	   CR_NAME AS CRNAME,
    	   CL_CODE AS CLCODE,
    	   CL_NAME AS CLNAME,
    	   CL_FEE AS CLFEE,
     	  CL_SDATE AS CLSDATE,
     	  CL_EDATE AS CLEDATE   
		FROM "CL" INNER JOIN CR ON "CL".CL_CRACCODE = CR.CR_ACCODE AND CR.CR_CODE="CL".CL_CRCODE
		WHERE CL_CRACCODE=#{acCode}
	</select>
	
	<update id="updClass" parameterType="amaging.schedu.bean.ClassBean">
		 UPDATE "CL" SET CL_NAME=#{clName},CL_FEE=#{clFee},CL_SDATE=#{clSdate},CL_EDATE=#{clEdate} 
		 WHERE CL_CRACCODE=#{acCode} AND CL_CRCODE=#{crCode} AND CL_CODE=#{clCode}
	</update>	
		
	<select id="getTeacherList" parameterType="amaging.schedu.bean.TList" resultType="amaging.schedu.bean.TList">
	 SELECT TA_ACCODE AS ACCODE,
        TC_CODE AS TEACHERID,
        TC_NAME AS TNAME,
        TC_EMAIL AS TEMAIL
 	FROM TC INNER JOIN TA ON TC.TC_CODE=TA.TA_TCCODE 
 	WHERE TC_NAME LIKE  '%'||#{tName}||'%' AND TA_ACCODE=#{acCode}
	</select>		
	
	<insert id="regSubject" parameterType="amaging.schedu.bean.Subject" >
		INSERT INTO SB(SB_ACODE,SB_ASCODE,SB_ASNAME,SB_CLCRACCODE,SB_CLCRCODE,SB_CLCODE,SB_TCCODE,SB_WEEKDAY,SB_STIME,SB_ETIME)
		VALUES(#{smCode},#{subjectCode},#{subjectName},#{acCode},#{crCode},#{clCode},#{teacherId},#{weekDay},#{sTime},#{eTime})
	</insert>
	
	<select id="getASubjectList" parameterType="amaging.schedu.bean.Subject" resultType="amaging.schedu.bean.Subject">
	SELECT CR_NAME AS CRNAME ,SB_ACODE AS SMCODE,SB_ASCODE AS SUBJECTCODE ,SB_ASNAME AS SUBJECTNAME,SB_CLCRACCODE AS ACCODE,SB_CLCRCODE AS CRCODE,
	SB_CLCODE AS CLCODE,CL_NAME AS CLNAME ,SB_TCCODE AS TEACHERID,TC_NAME AS TNAME,SB_WEEKDAY AS WEEKDAY,SB_STIME AS STIME,SB_ETIME AS ETIME
	FROM SB INNER JOIN CR ON  CR.CR_ACCODE=SB.SB_CLCRACCODE AND CR.CR_CODE=SB.SB_CLCRCODE
        INNER JOIN TC ON SB.SB_TCCODE=TC.TC_CODE
        INNER JOIN "CL" ON SB.SB_CLCODE="CL".CL_CODE
	WHERE SB_CLCRACCODE=#{acCode}
	</select>
	
	<update id="updSubject" parameterType="amaging.schedu.bean.Subject">
		 UPDATE SB SET SB_WEEKDAY=#{weekDay},SB_STIME=#{sTime},SB_ETIME=#{eTime}
WHERE SB_ACODE=#{smCode} AND SB_CLCRACCODE=#{acCode} AND SB_CLCRCODE=#{crCode} AND SB_CLCODE=#{clCode} AND SB_TCCODE=#{teacherId} AND SB_ASCODE=#{subjectCode}
	</update>	
	
	<select id="getSClassList" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.Subject">
		SELECT SB_ACODE AS SMCODE, TC_NAME AS TNAME,
			   AC_NAME AS ACNAME, CL_NAME AS CLNAME,
			   SB_ASNAME AS SUBJECTNAME, SB_STIME AS STIME,
			   SB_ETIME AS ETIME, SB_WEEKDAY AS WEEKDAY,
			   CL_SDATE AS STARTDAY, CL_EDATE AS ENDDAY,
			   AT_COCODE AS ATTEND
		FROM BS INNER JOIN SB ON BS.BS_CLCRACCODE=BS.BS_CLCRACCODE
							 AND BS.BS_CLCRCODE=SB.SB_CLCRCODE
							 AND BS.BS_CLCODE=SB.SB_CLCODE
				INNER JOIN AC ON BS.BS_CLCRACCODE=AC.AC_CODE
				INNER JOIN CL ON BS.BS_CLCRACCODE=CL.CL_CRACCODE
							 AND BS.BS_CLCRCODE=CL.CL_CRCODE
							 AND BS.BS_CLCODE=CL.CL_CODE
				INNER JOIN TC ON SB.SB_TCCODE=TC.TC_CODE
				LEFT OUTER JOIN AT ON AT.AT_SBACODE=SB.SB_ACODE
                             AND AT.AT_STCODE=BS.BS_STCODE
		WHERE BS.BS_STCODE=#{userId}
	</select>
	<select id="getTClassList" parameterType="amaging.schedu.bean.UserInfo" resultType="amaging.schedu.bean.Subject">
		SELECT AC_NAME AS ACNAME, CL_NAME AS CLNAME, SB_ASNAME AS SUBJECTNAME,
      		   SB_WEEKDAY AS WEEKDAY, SB_STIME AS STIME, SB_ETIME AS ETIME,
       		   CL_SDATE AS STARTDAY, CL_EDATE AS ENDDAY, ' ' AS TNAME
		FROM SB INNER JOIN AC ON SB.SB_CLCRACCODE=AC.AC_CODE
        		INNER JOIN CL ON SB.SB_CLCODE=CL.CL_CODE
		WHERE SB_TCCODE=#{userId}
	</select>
		<select id="getSList" parameterType="amaging.schedu.bean.ClassBean" resultType="amaging.schedu.bean.ClassBean">
	SELECT ST_CODE AS STUDENTID,
       ST_NAME AS SNAME, 
       ST_EMAIL AS SEMAIL,
       SA_ACCODE AS ACCODE   
	FROM ST INNER JOIN SA ON ST.ST_CODE=SA.SA_STCODE       
	   WHERE ST_NAME LIKE '%'||#{sName}||'%'
	</select>
	
	<insert id="regStudent" parameterType="amaging.schedu.bean.ClassBean" >
		INSERT INTO BS(BS_CLCRACCODE,BS_CLCRCODE,BS_CLCODE,BS_STCODE)
  		 VALUES(#{acCode},#{crCode},#{clCode},#{studentId})
	</insert>	
	
	<select id="getBelongList" parameterType="amaging.schedu.bean.ClassBean" resultType="amaging.schedu.bean.ClassBean">
	 SELECT BS_STCODE AS STUDENTID,
          ST_NAME AS SNAME,
          ST_EMAIL AS SEMAIL,
          BS_CLCRACCODE AS ACCODE,
          BS_CLCRCODE AS CRCODE,
          BS_CLCODE AS CLCODE
   FROM BS INNER JOIN ST ON BS.BS_STCODE=ST.ST_CODE
   WHERE BS_CLCRCODE=#{crCode} AND BS_CLCODE=#{clCode} AND BS_CLCRACCODE=#{acCode}     
	</select>	
	
	<delete id="delBelong" parameterType="amaging.schedu.bean.ClassBean">
	DELETE
   FROM (SELECT FE_COCODE
         FROM FE
         WHERE FE_CLCRACCODE='1024588469' AND FE_CLCRCODE='CR101' AND FE_CLCODE='C1001' AND FE_STCODE='S1004';)
   WHERE FE_COCODE=14;
	</delete>
		<!-- PrivateInfo -->
		
	<select id="getAcList" parameterType="amaging.schedu.bean.AcList" resultType="amaging.schedu.bean.AcList">
		 SELECT AC_CODE AS ACCODE, AC_NAME AS ACNAME, AC_ADDRESS AS ACADDRESS FROM AC WHERE AC_NAME LIKE '%'||#{acName}||'%'
	</select>
	<insert id="regSAcademy" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO SA(SA_STCODE, SA_ACCODE, SA_COCODE)
		SELECT #{userId},#{acCode},12 
		FROM DUAL A
		WHERE NOT EXISTS(SELECT 0 FROM SA 
		WHERE SA_STCODE= #{userId} AND SA_ACCODE=#{acCode})
	</insert>
	<insert id="regTAcademy" parameterType="amaging.schedu.bean.UserInfo">
		INSERT INTO TA(TA_TCCODE, TA_ACCODE, TA_PASSWORD)
		SELECT #{userId},#{acCode},4321 
		FROM DUAL A
		WHERE NOT EXISTS(SELECT 0 FROM TA 
		WHERE TA_TCCODE= #{userId} AND TA_ACCODE=#{acCode})
	</insert>
	<select id="checkParentEmail" parameterType="amaging.schedu.bean.RegParent" resultType="amaging.schedu.bean.RegParent">
		SELECT PR_CODE AS PRCODE, PR_NAME AS PRNAME FROM PR WHERE PR_EMAIL=#{pEmail}
	</select>
	<select id="checkSPStatus" parameterType="amaging.schedu.bean.RegParent" resultType="integer">
		SELECT NVL(MAX(SP_COCODE),0) FROM SP WHERE SP_STCODE=#{userId} AND SP_PRCODE=#{prCode}
	</select>
	<insert id="regParent" parameterType="amaging.schedu.bean.RegParent">
		INSERT INTO SP(SP_STCODE, SP_PRCODE, SP_COCODE) 
		VALUES(#{userId}, #{prCode}, 12)
	</insert>
	<select id="getSPEmail" parameterType="amaging.schedu.bean.RegParent" resultType="amaging.schedu.bean.RegParent">
		SELECT ST_EMAIL AS SEMAIL,
       		   PR_EMAIL AS PEMAIL
		FROM SP INNER JOIN ST ON ST.ST_CODE=SP_STCODE
        		INNER JOIN PR ON PR.PR_CODE=SP_PRCODE
		WHERE SP_STCODE=#{userId} AND SP_PRCODE=#{prCode}
	</select>
	<update id="updParent" parameterType="amaging.schedu.bean.RegParent">
		UPDATE SP SET SP_COCODE=11 WHERE SP_STCODE=#{userId} AND SP_PRCODE=#{prCode}
	</update>
	<delete id="delparent" parameterType="amaging.schedu.bean.RegParent">
		DELETE SP WHERE SP_STCODE=#{userId} AND SP_PRCODE=#{prCode}
	</delete>
</mapper>