@charset "EUC-KR";
.bothB {
   width: 85%;
   height: 13%;
   border-radius: 10px;
   margin: 2% 4%;
   background-color: transparent;
   border-top: 3px solid #fff;
   border-left: 3px solid #fff;
   border-right: 3px solid #00A6EF;
   border-bottom: 3px solid #00A6EF;
}

#colorline {
   border: 0;
   outline: 0;
   height: 1%;
   width: 90%;
   float: left;
   margin: 2% 4.5%;
   border-radius: 20px;
   background-color: #00A6EF;
}
@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: "BMHANNAAir";
}

#btn {
   font-family: "BMHANNAAir";
   
}
